*{
	margin: 0;
	padding: 0;
}
.tren{
	width: 700px;
	height: 40px;
	border-top: 1px solid gray;
	padding-top: 13px;
	margin: auto;
	margin-top: 100px;
}
a.xt{
	float: right;
	margin-top: -42px;
	text-decoration: none;
	color: gray;
	font-family: tahoma;
	font-size: 12px;
	font-style: italic;
}
a.xt:hover{
	color: blue;
}

a.tdto{
	text-align: center;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: red;
	font-family: tahoma;
	font-weight: bold;
	font-size: 19px;
	background-image: url(logo.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 21px;
}
.icon{
	width: 700px;
	text-decoration:none;
}
._1icon{
	width: 50px;
	height: 70px;
}
._1icon a.chuaicon{
	width: 35px;
	height: 50px;
	display: block;
	background-image: url(ao.jpg);
}